.nome{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.586);
    color: rgb(255, 255, 255);
    align-self:flex-end;
    margin-bottom:4px;
    padding: 0 8px 0 8px;
    text-shadow: 2px 1px #000000;
}
.QP{
    background-color: #717171;
    color: rgb(255, 255, 255) ;
    border-color: rgb(255, 255, 255);
}
.QP ion-col:nth-child(2){
    border: 1px;
    border-left-style:double;
    
}
.QP ion-col:nth-child(1){
    border: 1px;
    border-right-style:double;
}
ion-grid{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.linha{
    border:1px;
    border-style:solid;
}
li div{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.borda{
    border: 1px;
    border-bottom-style: double;
    border-color: rgb(193, 193, 193);
}
ul span{
    display:flex;
    align-items: center;
    justify-content:center;
}