<app-toolbar name="PRODUTOS"></app-toolbar>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card (click)="view()">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>

          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>

          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>

          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>

          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>

          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>

          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-card>
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
                <ion-card-header>
                  <ion-card-subtitle>Salada de Macarrão com Pesto e Tomate Confit</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    
</ion-content>
<app-footer></app-footer>