<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button  tab="produtos">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label >Produtos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="materiais">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Matériais</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon   id="open-modal" expand="block" name="add-circle-outline" aria-label="tab3" ></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="megaphone-sharp"></ion-icon>
      <ion-label>Em Breve</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="megaphone-sharp"></ion-icon>
      <ion-label>Em Breve</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-modal  trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template >
      <div class="block">Block of Content</div>
    </ng-template>
  </ion-modal>


</ion-tabs>

    

  