#open-modal {
    --ionicon-stroke-width: 32px;
    font-size: 40px;
}
ion-label{
    font-size: 10px;
}
.block {
    width: 100%;
    height: 300px;
    background-color:#222428;
    color: #fff;
  }
ion-modal {
    --height: auto;
  }
  .block ion-toolbar ion-button{
    color: #fff;
  }