img{
    width:110px;
    height:110px;
}
.QP{
    background-color: #717171;
    color: rgb(255, 255, 255) ;
    border-color: rgb(255, 255, 255);
}
.QP ion-col:nth-child(2){
    border: 1px;
    border-left-style:double;
    
}
.QP ion-col:nth-child(1){
    border: 1px;
    border-right-style:double;
}

.n-m{
    border:2px;
    border-bottom-style:groove;
}
.retangulo{
    border:1px;
    border-style:solid;
    margin:5px 5px;
    padding:10px;

}